<strong>Ola, {{ deliveryman }}</strong>
<p>Uma entrega foi cancelada</p>
<p>
  <strong>Produto: </strong> {{ product }}<br />
  <strong>O produto foi cancelado devido a gravidade do problema.</strong>
</p>
