<strong>Ola, {{ deliveryman }}</strong>
<p>Existe um novo produto em seu nome</p>
<p>
  <strong>Produto: </strong> {{ product }}<br />
  <strong>O produto ja esta disponivel para retirada.</strong>
</p>
